/* Task-1 */
.header{
    text-align: center;
    margin-bottom: 30px;
}
.header h3{
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 8px 20px;
    margin: 0;
    color: #106eea;
    display: inline-block;
    border-radius: 50px;
    font-family: "Roboto", sans-serif;
}
.header p{
    font-size: 30px;
    width: 100%;
    color: #282881;
}
.card-title{
    color: #111179;
}
.card{
    /* padding: 20px; */
    border-color: aliceblue;
    margin-bottom: 20px;
}
.card-title{
    text-align: center;
}
.card p{
    text-align: center;
    color:rgb(104 106 108);
}

/* Task-2 */
.con-head{
    text-align: center;
    margin-bottom: 30px;
}
.con-head h3{
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 8px 20px;
    margin: 0;
    color: #106eea;
    font-family: "Roboto", sans-serif;
}
.con-head p{
    font-size: 30px;
    width: 100%;
    color: #111179;
}
.featurebox{
    display: flex;
    margin-top: 20px;
    padding: 20px 10px 5px 30px;
    box-shadow: 0px 0 30px rgb(1 41 112 / 8%);
    height: 100%;
}
.featurebox i{
    line-height: 0;
    height: 30px;
    width: 23px;
    background: #ecf3ff;
    padding: 4px;
    padding-left: 6px;
    margin-right: 10px;
    font-size: 24px;
    color: black;
}
.featurebox h3{
    padding-top: 5px;
    font-size: 14px;
    color: #012970;
    font-weight: 500;
}
#feature-img img{
    width: 100%;
}
.progress{
    height: 60px;
    display: block;
    background-color: white;
}
.skill{
    margin-top: 70px;
}
.progress-1 span{
    font-size: 10px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}
.progress-1 span i{
    padding-top: 8px;
    float: right;
}
.progress-bar{
    background: #e2eefd;
    height: 10px;
    margin-bottom: 20px;
}
.p1{
    height: 10px;
   background-color: #106eea;
}
.count{
    padding: 50px 10px 10px 10px;
}
.count-box{
    justify-content: center;
    padding: 30px 30px 25px 30px;
    background-color: #f1f6fe;
    margin-bottom: 20px;
    position: relative;
}
.count-box i{
    position: absolute;
    right: 50%;
    top: -28px;
    transform: translateX(50%);
    font-size: 24px;
    background: #106eea;
    color: #fff;
    width: 56px;
    height: 56px;
    line-height: 0;
    border-radius: 50px;
    border: 5px solid #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.count-box span{

    font-size: 42px;
}
.count-box p{
    text-align: center;
    font-size: 15px;
}



/* .story-card{
    align-items: center;
}
.story-card img{
    padding-top: 10px;
    width: 40%;
} */

.card-img-top{
 padding-top: 25px;
    width: 40%;
}
.h-100{
    align-items: center;
    box-shadow: 0px 0 30px rgb(1 41 112 / 8%);

} 
.card-footer{
    background-color: white;
    width: 100%;
    text-align: center;

    padding: 20px;
}
.text-muted{
    font-size: 15px;
}
.h-100 i{
    font-size: 30px;
    color: rgb(128, 134, 133);
}
.role h4{
    padding: 5px;
    font-size: 15px;
    background-color:rgb(208, 225, 226);
    border-radius: 10px;
}
.ico-sec{
    padding-bottom: 20px;
}
.ico-sec .ion-arrow-right-c{
    color: black;
    display: inline-block;
    width: 30px;
    font-size: 30px;
    padding: top 10px; 
}
h5{
    width: 100%;
}
.hit{
    color: black;
    font-size: 25px;
}

